.head{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    background: #007765;
    font-family: cursive;
    color: white;
}
body{
    background: #d7d7d7;
    min-width: 700px;
    overflow: paged-x;
}
#head-title{
    font-size: 30px;
    margin-left: 10px;
}
#head-author{
    margin-top: 10px;
    margin-left: 10px;
}
.head > img{
    float: right;
    height: 65px;
    width: 65px;
    margin-right: 10px;
    margin-top: 5px;
}
.main{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    font-family: cursive;
    padding-top: 5px;

}
.main h2{
    color: #007765;
}
.submit-button{
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #007765;
    background: #d7d7d7;
    font-family: cursive;
    height: 50px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
}
.submit-button:hover, .r-button.pressed{
    background: #007765;
    color: white;
}

.submit-button:hover:disabled {
    background: #d7d7d7;
    color: grey;
}
.main canvas {
    float: right;
    margin-right: 150px;
}
#result-table{
    border-collapse: collapse;
    border: solid 4px #007765;
    padding: 0;
    font-size: 20px;
}
#result-table td, #result-table th{
    border: solid 2px #007765;
    text-align: center;
}
#result-table th{
    border-bottom: 4px solid #007765;
    padding-left: 2px;
    padding-right: 4px;
}

.warn-checkbox {
    color: red;
}

.warn-text {
    border-color: red;
}
button.r-button{
    border-radius: 10px;
    border: 2px solid #007765;
    background: #d7d7d7;
    font-family: cursive;
    height: 45px;
    width: 45px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
}
